.votebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: lightgray;
}

.vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}