.search-bar {
    background-color: white;
    padding: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    display: inline-block;
}

#search-bar-input {
    width: auto;
    height: 25px;
    font-size: 16px;
    border: none;
    position: relative;
    top: -4px;
    left: 2px;
}

#search-bar-icon {
    width: 30px;
    height: auto;
}