@font-face {
    font-family: zeldaTitleFont;
    src: url('../../../Fonts/Hylia\ Serif\ Beta\ v0-009/HyliaSerifBeta-Regular.otf');
}

.title-text {
    color: green;
    position: relative;
    top: -15px;

    font-family: zeldaTitleFont;
}